htm,body{
   height: 100%;
   width: 100%;
}
body{

   background-color: blue;
}
#main{

   text-align: center;
   background-color:  rgb(147, 190, 255);
   border-radius: 10px;
   width: 564px;
   height: 385px;
   margin-top: 50px;
   margin-left: 28px;
   box-shadow: 10px 7px 5px rgba(50, 50, 50, 0.77);
}
#fat{
   display: flex;
   justify-content: center;
   text-align: center;
   background-color: rgb(18, 51, 235);
   border-radius: 10px;
   width: 436px;
   height: 293px;
   margin-left: 60px;
   margin-top: 30px;
   box-shadow: 10px 7px 5px rgba(50, 50, 50, 0.77);
}
#r{

   color:  rgb(147, 190, 255);
}
#user{
   background-color: rgb(241, 241, 241);
   padding-top: 5px;
   margin-top: 35px;
   margin-right: 0cm;
   width: 75%;
   line-height: 0px;
   box-shadow: 0;
}

section{

   margin-top: 50px;
}
#label{
   margin-top: -16px;
   margin-right: 51px;
   font-family: arial;
   text-align: center;

}
button{
   margin-right: -8px;
   margin-top: 32px;
   border-radius: 5px;
   height: 80px;
   width: 80px;
}

#main2{

   text-align: center;
   background-color:  rgb(147, 190, 255);
   border-radius: 10px;
   width: 564px;
   height: 385px;
   margin-top: 50px;
   margin-left: 28px;
   box-shadow: 10px 7px 5px rgba(50, 50, 50, 0.77);
}
#fat2{
   display: flex;
   justify-content: center;
   text-align: center;
   background-color: rgb(18, 51, 235);
   border-radius: 10px;
   width: 436px;
   height: 293px;
   margin-left: 60px;
   margin-top: 30px;
   box-shadow: 10px 7px 5px rgba(50, 50, 50, 0.77);
}
#r2{

   color:  rgb(147, 190, 255);
}
#user2{
   background-color: rgb(241, 241, 241);
   padding-top: 5px;
   margin-top: 35px;
   margin-right: 0cm;
   width: 75%;
   line-height: 0px;
   box-shadow: 0;
}

section{

   margin-top: 50px;
}
#label22{
   margin-top: -16px;
   margin-right: 51px;
   font-family: arial;
   text-align: center;

}
#btn{

   margin-right: -8px;
   margin-top: 32px;
   border-radius: 5px;
   height: 28px;
   width: 80px;

}

#main3{

   text-align: center;
   background-color:  rgb(147, 190, 255);
   border-radius: 10px;
   width: 564px;
   height: 385px;
   margin-top: -869px;
   margin-left: 633px;
   box-shadow: 10px 7px 5px rgba(50, 50, 50, 0.77);
}
#fat3{
   display: flex;
   justify-content: center;
   text-align: center;
   background-color: rgb(18, 51, 235);
   border-radius: 10px;
   width: 436px;
   height: 293px;
   margin-left: 60px;
   margin-top: 30px;
   box-shadow: 10px 7px 5px rgba(50, 50, 50, 0.77);
}
#r3{

   color:  rgb(147, 190, 255);
}
#user3{
   background-color: rgb(241, 241, 241);
   padding-top: 5px;
   margin-top: 35px;
   margin-right: 0cm;
   width: 75%;
   line-height: 0px;
   box-shadow: 0;
}

section{

   margin-top: 50px;
}
#label3{
   margin-top: -16px;
   margin-right: 51px;
   font-family: arial;
   text-align: center;

}
#btn3{

   margin-right: -8px;
   margin-top: 32px;
   border-radius: 5px;
   height: 38px;
   width: 80px;

}

#main4{

   text-align: center;
   background-color:  rgb(147, 190, 255);
   border-radius: 10px;
   width: 564px;
   height: 385px;
   margin-top: 1px;
   margin-left: 633px;
   box-shadow: 10px 7px 5px rgba(50, 50, 50, 0.77);
}
#fat4{
   display: flex;
   justify-content: center;
   text-align: center;
   background-color: rgb(18, 51, 235);
   border-radius: 10px;
   width: 436px;
   height: 293px;
   margin-left: 60px;
   margin-top: 30px;
   box-shadow: 10px 7px 5px rgba(50, 50, 50, 0.77);
}
#r4{

   color:  rgb(147, 190, 255);
}
#user4{
   background-color: rgb(241, 241, 241);
   padding-top: 5px;
   margin-top: 35px;
   margin-right: 0cm;
   width: 75%;
   line-height: 0px;
   box-shadow: 0;
}

section{

   margin-top: 50px;
}
#label4{
   margin-top: -16px;
   margin-right: 51px;
   font-family: arial;
   text-align: center;

}
#btn4{

   margin-right: -8px;
   margin-top: 32px;
   border-radius: 5px;
   height: 38px;
   width: 80px;

}

#main5{

   text-align: center;
   background-color:  rgb(147, 190, 255);
   border-radius: 10px;
   width: 564px;
   height: 385px;
   margin-top: -869px;
   margin-left: 1237px;
   box-shadow: 10px 7px 5px rgba(50, 50, 50, 0.77);
}
#fat5{
   display: flex;
   justify-content: center;
   text-align: center;
   background-color: rgb(18, 51, 235);
   border-radius: 10px;
   width: 436px;
   height: 293px;
   margin-left: 60px;
   margin-top: 30px;
   box-shadow: 10px 7px 5px rgba(50, 50, 50, 0.77);
}
#r5{

   color:  rgb(147, 190, 255);
}
#user5{
   background-color: rgb(241, 241, 241);
   padding-top: 5px;
   margin-top: 35px;
   margin-right: 0cm;
   width: 75%;
   line-height: 0px;
   box-shadow: 0;
}

section{

   margin-top: 50px;
}
#label5{
   margin-top: -16px;
   margin-right: 51px;
   font-family: arial;
   text-align: center;

}
#btn5{

   margin-right: -9px;
   margin-top: 20px;
   border-radius: 5px;
   height: 22px;
   width: 50px;

}


#main6{

   text-align: center;
   background-color:  rgb(147, 190, 255);
   border-radius: 10px;
   width: 564px;
   height: 385px;
   margin-top: 0px;
   margin-left: 1237px;
   box-shadow: 10px 7px 5px rgba(50, 50, 50, 0.77);
}
#fat6{
   display: flex;
   justify-content: center;
   text-align: center;
   background-color: rgb(18, 51, 235);
   border-radius: 10px;
   width: 436px;
   height: 293px;
   margin-left: 60px;
   margin-top: 30px;
   box-shadow: 10px 7px 5px rgba(50, 50, 50, 0.77);
}
#r6{

   color:  rgb(147, 190, 255);
}
#user6{
   background-color: rgb(241, 241, 241);
   padding-top: 5px;
   margin-top: 35px;
   margin-right: 0cm;
   width: 75%;
   line-height: 0px;
   box-shadow: 0;
}

section{

   margin-top: 50px;
}
#label6{
   margin-top: -16px;
   margin-right: 51px;
   font-family: arial;
   text-align: center;

}
#btn6{

   margin-right: -9px;
   margin-top: 20px;
   border-radius: 5px;
   height: 22px;
   width: 65px;

}


#main7{
   text-align: center;
   background-color:  rgb(147, 190, 255);
   border-radius: 10px;
   width: 564px;
   height: 385px;
   margin-top: 0px;
   margin-left: 29px;
   box-shadow: 10px 7px 5px rgba(50, 50, 50, 0.77);
}
#fat7{
   display: flex;
   justify-content: center;
   text-align: center;
   background-color: rgb(18, 51, 235);
   border-radius: 10px;
   width: 436px;
   height: 293px;
   margin-left: 60px;
   margin-top: 30px;
   box-shadow: 10px 7px 5px rgba(50, 50, 50, 0.77);
}
#r7{

   color:  rgb(147, 190, 255);
}
#user7{
   background-color: rgb(241, 241, 241);
   padding-top: 5px;
   margin-top: 35px;
   margin-right: 0cm;
   width: 75%;
   line-height: 0px;
   box-shadow: 0;
}

section{

   margin-top: 50px;
}
#label7{
   margin-top: -16px;
   margin-right: 51px;
   font-family: arial;
   text-align: center;

}
#btn7{

   margin-right: -9px;
   margin-top: 20px;
   border-radius: 5px;
   height: 22px;
   width: 65px;

}


#main8{
   text-align: center;
   background-color:  rgb(147, 190, 255);
   border-radius: 10px;
   width: 564px;
   height: 385px;
   margin-top: -434px;
   margin-left: 635px;
   box-shadow: 10px 7px 5px rgba(50, 50, 50, 0.77);
}
#fat8{
   display: flex;
   justify-content: center;
   text-align: center;
   background-color: rgb(18, 51, 235);
   border-radius: 10px;
   width: 436px;
   height: 293px;
   margin-left: 60px;
   margin-top: 30px;
   box-shadow: 10px 7px 5px rgba(50, 50, 50, 0.77);
}
#r8{

   color:  rgb(147, 190, 255);
}
#user8{
   background-color: rgb(241, 241, 241);
   padding-top: 5px;
   margin-top: 35px;
   margin-right: 0cm;
   width: 75%;
   line-height: 0px;
   box-shadow: 0;
}

section{

   margin-top: 50px;
}
#label8{
   margin-top: -16px;
   margin-right: 51px;
   font-family: arial;
   text-align: center;

}
#btn8{

   margin-right: -9px;
   margin-top: 20px;
   border-radius: 5px;
   height: 22px;
   width: 65px;

}


#main9{
   text-align: center;
   background-color:  rgb(147, 190, 255);
   border-radius: 10px;
   width: 564px;
   height: 385px;
   margin-top: -434px;
   margin-left: 1239px;
   box-shadow: 10px 7px 5px rgba(50, 50, 50, 0.77);
}
#fat9{
   display: flex;
   justify-content: center;
   text-align: center;
   background-color: rgb(18, 51, 235);
   border-radius: 10px;
   width: 436px;
   height: 293px;
   margin-left: 60px;
   margin-top: 30px;
   box-shadow: 10px 7px 5px rgba(50, 50, 50, 0.77);
}
#r9{

   color:  rgb(147, 190, 255);
}
#user9{
   background-color: rgb(241, 241, 241);
   padding-top: 5px;
   margin-top: 35px;
   margin-right: 0cm;
   width: 75%;
   line-height: 0px;
   box-shadow: 0;
}

section{

   margin-top: 50px;
}
#label9{
   margin-top: -16px;
   margin-right: 51px;
   font-family: arial;
   text-align: center;

}
#btn9{

   margin-right: 10px;
   margin-top: 20px;
   border-radius: 5px;
   height: 22px;
   width: 65px;

}









